*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color:rgb(184, 157, 5);
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: yellow;
}

button:hover{
    background-color: rgb(175, 148, 26);
}

#coso1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/imagen1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#coso1 h1{
    color: white;
}

#coso1 button{
    font-size: 1.75em;
}


#Quienes{

    margin-left: 600px;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: yellow;
    
}


#Programas{

    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: yellow;
}
#Caracteristicas {

    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: yellow;
}



#coder{

  
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.5);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000; 
    font-size: 100px; 
    font-weight: 400; 
    text-align: center; 
    background: #9c9e04; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #ddbc00 ;}


#div1{

    background-color:rgb(184, 157, 5);
}

#f1{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
#p1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

#img1{

     width: 500px;
}



#nuestros-programas .programas{
    display: flex;
    justify-content: center;
}

#nuestros-programas p{
    display: block;
    margin-bottom: 30px;
    color: white;
}

#nuestros-programas h2{
    font-size: 4em;
    color:white;
}

#nuestros-programas h3{
    margin-top: 0;
    color: white;
}

#nuestros-programas .carta{
    padding: 50px;
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);

}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/frontend.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/fullstack.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/c.jpg");

}

#h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

#p3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

#ol{
    text-align: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#boton2{
    text-align: right;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: yellow;

}

#p1{
    text-align: center;
}

#formulario4{

    align-items: center;
}

.class4{
    align-items: right;
}

/* Estyle for Index */
/* slider de promociones */
#sliderpromo{
    width: 100%;
    height: auto;
    margin: 5px auto 0;
    overflow: hidden;
}
#sliderpromo ul{
    display: flex;
    padding: 0;
    width: 400%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    animation: slidepromo 20s infinite alternate ease-in-out;
}
#sliderpromo li{
    width: 100%;
    list-style: none;
    position: relative;
}
#sliderpromo ul li a img{
    width: 100%;
    height: 30rem;
}
@keyframes slidepromo{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
}